body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#2c2f74; /* Set the body background color to black */
    color: #fff;
}

header {
    position: relative;
    background-color:#2c2f74;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.hero {
    background: url('./images/cover.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align text to the left and image to the right */
}

.text-content {
    text-align: left;
}

h1 {
    font-size: 2em; /* Adjust as needed */
    font-weight: bold;
    margin-bottom: 0;
}

.profile-image {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%;
    margin-left: 200px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

.hero-content:hover .profile-image {
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 5); /* Enlarge and enhance the box shadow on hover */
}
nav{background-color:}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #66c2ff;
}

main {
    padding: 20px;
}

.card {
    background-color: #5a53e4; /* Set the card background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.about-cards {
    display: flex;
    flex-wrap: wrap;
}

.about-card {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.about-card:hover {
    background-color: #3c56de; /* Darken the card on hover */
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}
